h1 {
    padding: 10px; 
    background: green; 
    color: white;
}

strong {
    color: blue;
}

em {
    color: blue;
}

img {
    width: 100%;
    border-radius: 50%;
}

h3 {
    color: red;

}

a {
    color: green;
    text-decoration: underline;
}

iframe {
    width: 600px;
    height: 400px;
}